
body{
	background-color: #9ac6d6;
	font-family: sans-serif;

}

h1,h2,h3{
	font-family: "eloquent-jf-pro",sans-serif;
	color: #9ac6d6;
	border-top: 2px dashed #9ac6d6;
	padding-top: 10px;
	padding-left: 10px;
}

a{
	text-decoration: none;
	color: white;
	font-family: serif;
	background-color: #9ac6d6;
 	border-top: 0px #9ac6d6;
 	margin-top: 20px;
 	padding-top: 20px;
    padding-right: 42px;
    padding-bottom: 20px;
    padding-left: 42px;
    display:inline-block;
}

#rsvp{
	text-decoration: none;
	color: white;
}

.box{
	border-style:solid;
	border-width: 1px;
	background-color: white;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 10px;
}

#article {
 background-color: #dfeff4;
 background-image: url(images/bg_page.png);
 background-repeat: repeat-y;
 background-position: center top;
 padding: 0;
 margin: 0 auto;
 width: 760px;
}

p{
	text-align: justify;
}

img{
	width: 750px;
	height: 500px;
}
